{
    "openapi": "3.1.0",
    "info": {
        "title": "NIBAS Events API",
        "description": "API for å hente events i Nasjonal inndelingsbase",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://nibas-events.atkv3-prod.kartverket-intern.cloud",
            "description": "Prod"
        }
    ],
    "tags": [
        {
            "name": "v1/events",
            "description": "Endepunkter for events i Nasjonal inndelingsbase"
        }
    ],
    "paths": {
        "/v1/events": {
            "get": {
                "tags": [
                    "v1/events"
                ],
                "summary": "Hent events",
                "description": "Henter events i Nasjonal Inndelingsbase",
                "operationId": "hentEvents",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "size",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "v1/events"
                ],
                "description": "Publiserer event til Nibas Event",
                "operationId": "publiserEvent",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "422": {
                        "description": "Need atleast one EventRad in Event"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "EventRadRequest": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "description": "Objektradens id"
                    },
                    "eventType": {
                        "type": "string",
                        "description": "Hvilken event har inntruffet",
                        "enum": [
                            "ADDED",
                            "MODIFIED",
                            "EXPIRED"
                        ]
                    },
                    "flateType": {
                        "type": "string",
                        "description": "Hvilket type objekt har event skjedd for",
                        "enum": [
                            "STEMMEKRETS",
                            "GRUNNKRETS",
                            "KOMMUNE",
                            "FYLKE",
                            "NASJON",
                            "BOPLIKTOMRAADE"
                        ]
                    },
                    "lokalid": {
                        "type": "string",
                        "description": "Lokalid for objektet"
                    }
                },
                "required": [
                    "eventType",
                    "flateType",
                    "lokalid",
                    "uuid"
                ]
            },
            "EventRequest": {
                "type": "object",
                "description": "event",
                "properties": {
                    "inntreffer": {
                        "type": "string",
                        "format": "date",
                        "description": "Når eventen er gyldig fra"
                    },
                    "eventRader": {
                        "type": "array",
                        "description": "Liste med relaterte rader",
                        "items": {
                            "$ref": "#/components/schemas/EventRadRequest"
                        },
                        "uniqueItems": true
                    }
                },
                "required": [
                    "eventRader",
                    "inntreffer"
                ]
            },
            "EventRadResponse": {
                "type": "object",
                "description": "Rad med data om endringen",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Hvilket event har inntruffet",
                        "enum": [
                            "ADDED",
                            "MODIFIED",
                            "EXPIRED"
                        ]
                    },
                    "flateType": {
                        "type": "string",
                        "description": "Hvilket type objekt har event skjedd for",
                        "enum": [
                            "STEMMEKRETS",
                            "GRUNNKRETS",
                            "KOMMUNE",
                            "FYLKE",
                            "NASJON",
                            "BOPLIKTOMRAADE"
                        ]
                    },
                    "lokalId": {
                        "type": "string",
                        "description": "Lokalid til objektet. Brukes mot Nibas-API"
                    },
                    "eventId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Hvilket event hører raden til"
                    }
                },
                "required": [
                    "eventId",
                    "flateType",
                    "lokalId",
                    "type"
                ]
            },
            "EventResponse": {
                "type": "object",
                "description": "En representasjon av en event",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Eventnummer (løpenummer)"
                    },
                    "inntreffer": {
                        "type": "string",
                        "format": "date",
                        "description": "Når eventen inntreffer"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Når eventen skjedde"
                    },
                    "rader": {
                        "type": "array",
                        "description": "Radene eventet består av",
                        "items": {
                            "$ref": "#/components/schemas/EventRadResponse"
                        },
                        "uniqueItems": true
                    }
                },
                "required": [
                    "id",
                    "inntreffer",
                    "rader",
                    "timestamp"
                ]
            }
        }
    }
}
