{
    "openapi": "3.0.1",
    "info": {
        "title": "NIBAS Server API",
        "description": "API for å hente administrative enheter",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://nibas-api.atkv3-prod.kartverket-intern.cloud",
            "description": "Prod"
        }
    ],
    "tags": [
        {
            "name": "v1/grunnkretser",
            "description": "Endepunkter for å hente informasjon om grunnkretser i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/fylker",
            "description": "Endepunkter for å hente informasjon om fylker i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/admin",
            "description": "Endepunkter for å gjøre administrative endringer i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/authz",
            "description": "Endepunkter for å hente informasjon om autorisering"
        },
        {
            "name": "v1/stemmekretser",
            "description": "Endepunkter for å hente informasjon om stemmekretser i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/utkast",
            "description": "Endepunkt for å utføre CRUD-operasjoner mot utkast."
        },
        {
            "name": "v1/nasjoner",
            "description": "Endepunkter for å hente informasjon om nasjoner i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/grenser",
            "description": "Endepunkt for å oppdatere et sett med grenser (FeatureCollection) i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/fylker",
            "description": "Endepunkter for å hente informasjon om fylker i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/kommuner",
            "description": "Endepunkter for å hente informasjon om kommuner i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/frontendlogger",
            "description": "Endepunkt for å logge ting fra frontenden"
        },
        {
            "name": "v1/kommuner",
            "description": "Endepunkter for å hente informasjon om kommuner i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/grunnkretser",
            "description": "Endepunkter for å hente informasjon om grunnkretser i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/stemmekretser",
            "description": "Endepunkter for å hente informasjon om stemmekretser i Nasjonal inndelingsbase"
        }
    ],
    "paths": {
        "/v1/utkast/{id}": {
            "get": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Hent et utkast med gitt id",
                "description": "Henter utkast med gitt id",
                "operationId": "hentUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til utkastet man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UtkastResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Oppdater angitt utkast.",
                "description": "Oppdaterer angitt utkast. Returnerer oppdatert utkast.",
                "operationId": "oppdaterUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til utkastet man vil oppdatere",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OppdaterUtkastRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UtkastResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OptimistiskLaarWrapper"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Forkast angitt utkast.",
                "description": "Forkast angitt utkast.",
                "operationId": "forkastUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til utkastet man vil slette",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/admin/kodelister/invalidate": {
            "put": {
                "tags": [
                    "v1/admin"
                ],
                "summary": "Invaliderer kodeliste-cache slik at kodelister refreshes.",
                "description": "Invaliderer kodeliste-cache slik at kodelister refreshes.",
                "operationId": "invalidateKodelisteCache",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/v1/utkast": {
            "get": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Henter alle utkast i status Opprettet sortert på navn.",
                "description": "Henter alle utkast i status Opprettet sortert på navn.",
                "operationId": "hentUtkastIStatusOpprettet",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UtkastRef"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Oppretter et utkast og returnerer id.",
                "description": "Oppretter et utkast og returnerer id.",
                "operationId": "opprettUtkast",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpprettUtkastRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/utkast/{id}/publiser": {
            "post": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Publiserer utkastet med gitt id.",
                "description": "Publiserer utkastet med gitt id.",
                "operationId": "publiserUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til utkastet man vil publisere",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PubliserUtkastRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OptimistiskLaarWrapper"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Check the request body and path",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/frontendlogger": {
            "post": {
                "tags": [
                    "v1/frontendlogger"
                ],
                "summary": "Logger en gitt melding så utviklere får tak i den.",
                "operationId": "logMelding",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FrontendLogRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/v1/stemmekretser/{lokalid}/framtidigeversjoner": {
            "get": {
                "tags": [
                    "v1/stemmekretser"
                ],
                "summary": "Hent framtidige versjoner for en stemmekrets.",
                "description": "Returnerer en liste av nåværende Stemmekrets og eventuelt publiserte framtidige versjoner som matcher lokalid.",
                "operationId": "hentFramtidigeVersjonerForStemmekrets",
                "parameters": [
                    {
                        "name": "lokalid",
                        "in": "path",
                        "description": "LokalID-en til stemmekretsen man vil hente versjoner for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StemmekretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/stemmekretser/{id}": {
            "get": {
                "tags": [
                    "v1/stemmekretser"
                ],
                "summary": "Hent en stemmekrets med gitt id",
                "description": "Henter stemmekrets med gitt id",
                "operationId": "hentStemmekrets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til stemmekretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StemmekretsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StemmekretsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/stemmekretser/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/stemmekretser"
                ],
                "summary": "Hent grensene til en gitt stemmekrets",
                "description": "Henter grensene til en stemmekrets med gitt id",
                "operationId": "hentGrenserForStemmekrets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til stemmekretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/nasjoner": {
            "get": {
                "tags": [
                    "v1/nasjoner"
                ],
                "summary": "Hent alle nasjoner",
                "description": "Henter alle nasjoner i Nasjonal inndelingsbase.",
                "operationId": "hentNasjoner",
                "parameters": [
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for nasjonene (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NasjonRef"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/nasjoner/{id}": {
            "get": {
                "tags": [
                    "v1/nasjoner"
                ],
                "summary": "Hent en nasjon med gitt id",
                "description": "Henter nasjon med gitt id",
                "operationId": "hentNasjon",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til nasjonen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for nasjon (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NasjonRef"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NasjonResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/nasjoner/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/nasjoner"
                ],
                "summary": "Hent grensene til en gitt nasjon",
                "description": "Henter grensene til en nasjon med gitt id",
                "operationId": "hentGrenserForNasjon",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til nasjonen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for nasjon (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent alle kommuner",
                "description": "Henter alle kommuner i Nasjonal inndelingsbase.",
                "operationId": "hentKommuner",
                "parameters": [
                    {
                        "name": "fylkeid",
                        "in": "query",
                        "description": "Valgfri id til et fylke for å filtrere kommuner innenfor et fylke",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KommuneRef"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent en kommune med gitt id",
                "description": "Henter kommune med gitt id",
                "operationId": "hentKommune",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til kommunen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KommuneResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KommuneResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/stemmekretser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "operationId": "hentKommunesStemmekretser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente stemmekretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StemmekretsRef"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/grunnkretser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent kommunes grunnkretser",
                "description": "Henter alle grunnkretser som tilhører en kommune.",
                "operationId": "hentKommunesGrunnkretser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente grunnkretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GrunnkretsRef"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent grensene til en gitt kommune",
                "description": "Henter grensene til en kommune med gitt id",
                "operationId": "hentGrenserForKommune",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til kommunen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kodeliste/maalemetode-koder": {
            "get": {
                "tags": [
                    "kodeliste-controller"
                ],
                "operationId": "fetchMaalemetodeKoder",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KodelisteRespons"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kodeliste/landkoder": {
            "get": {
                "tags": [
                    "kodeliste-controller"
                ],
                "operationId": "fetchLandkoder",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KodelisteRespons"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kodeliste/kommunenumre": {
            "get": {
                "tags": [
                    "kodeliste-controller"
                ],
                "operationId": "fetchKommunenumre",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KodelisteRespons"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kodeliste/grensetyper": {
            "get": {
                "tags": [
                    "kodeliste-controller"
                ],
                "operationId": "fetchGrensetyper",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KodelisteRespons"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kodeliste/fylkesnumre": {
            "get": {
                "tags": [
                    "kodeliste-controller"
                ],
                "operationId": "fetchFylkesnumre",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KodelisteRespons"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/grunnkretser/{lokalid}/framtidigeversjoner": {
            "get": {
                "tags": [
                    "v1/grunnkretser"
                ],
                "summary": "Hent framtidige versjoner for en grunnkrets.",
                "description": "Returnerer en liste av nåværende Grunnkrets og eventuelt publiserte framtidige versjoner som matcher lokalid.",
                "operationId": "hentFramtidigeVersjonerForGrunnkrets",
                "parameters": [
                    {
                        "name": "lokalid",
                        "in": "path",
                        "description": "LokalID-en til grunnkretsen man vil hente versjoner for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grunnkrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GrunnkretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/grunnkretser/{id}": {
            "get": {
                "tags": [
                    "v1/grunnkretser"
                ],
                "summary": "Hent en grunnkrets med gitt id",
                "description": "Henter grunnkrets med gitt id",
                "operationId": "hentGrunnkrets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til grunnkretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grunnkrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrunnkretsResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrunnkretsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/grunnkretser/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/grunnkretser"
                ],
                "summary": "Hent grensene til en gitt grunnkrets",
                "description": "Henter grensene til en grunnkrets med gitt id",
                "operationId": "hentGrenserForGrunnkrets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til grunnkretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grunnkrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/grenser/{id}": {
            "get": {
                "tags": [
                    "v1/grenser"
                ],
                "summary": "Hent grense",
                "description": "Henter grense med gitt id",
                "operationId": "hentGrense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til grensen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grense (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Feature"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Feature"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fylker": {
            "get": {
                "tags": [
                    "v1/fylker"
                ],
                "summary": "Hent alle fylker",
                "description": "Henter alle fylker i Nasjonal inndelingsbase.",
                "operationId": "hentFylker",
                "parameters": [
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylkene (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FylkeRef"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fylker/{id}": {
            "get": {
                "tags": [
                    "v1/fylker"
                ],
                "summary": "Hent et fylke med gitt id",
                "description": "Henter fylke med gitt id",
                "operationId": "hentFylke",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til fylket man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylke (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FylkeResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FylkeResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fylker/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/fylker"
                ],
                "summary": "Hent grensene til et gitt fylke",
                "description": "Henter grensene til et fylke med gitt id",
                "operationId": "hentGrenserForFylke",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til fylket man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylke (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/stemmekretser": {
            "get": {
                "tags": [
                    "v1/ekstern/stemmekretser"
                ],
                "summary": "Henter stemmekretser med gitte id-er",
                "description": "Henter stemmekretser med gitte id-er",
                "operationId": "hentStemmekretserForIds",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "ID-ene til stemmekretsene man vil hente",
                        "required": true,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/stemmekretser/{id}": {
            "get": {
                "tags": [
                    "v1/ekstern/stemmekretser"
                ],
                "summary": "Hent en stemmekrets med gitt id",
                "description": "Henter stemmekrets med gitt id",
                "operationId": "hentStemmekrets_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til stemmekretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StemmekretsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StemmekretsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/stemmekretser/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/ekstern/stemmekretser"
                ],
                "summary": "Hent grensene til en gitt stemmekrets",
                "description": "Henter grensene til en stemmekrets med gitt id",
                "operationId": "hentGrenserForStemmekrets_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til stemmekretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/kommuner": {
            "get": {
                "tags": [
                    "v1/ekstern/kommuner"
                ],
                "summary": "Hent alle kommuner",
                "description": "Henter alle kommuner i Nasjonal inndelingsbase.",
                "operationId": "hentKommuner_1",
                "parameters": [
                    {
                        "name": "fylkeid",
                        "in": "query",
                        "description": "Valgfri id til et fylke for å filtrere kommuner innenfor et fylke",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KommuneRef"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/kommuner/{kommunenummer}/stemmekretsermeddetaljer": {
            "get": {
                "tags": [
                    "v1/ekstern/kommuner"
                ],
                "summary": "Henter alle stemmekretser med detaljer for gitt kommunenummer",
                "description": "Henter alle stemmekretser med detaljer for gitt kommunenummer. Denne brukes for uthenting av data til dataplattform.",
                "operationId": "hentAlleStemmekretserMedDetaljerForKommune",
                "parameters": [
                    {
                        "name": "kommunenummer",
                        "in": "path",
                        "description": "Kommunenummer for kommune man ønsker å hente stemmekretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StemmekretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/kommuner/{kommunenummer}/stemmekretser": {
            "get": {
                "tags": [
                    "v1/ekstern/kommuner"
                ],
                "summary": "Henter alle stemmekretser for gitt kommunenummer",
                "description": "Henter alle stemmekretser for gitt kommunenummer",
                "operationId": "hentAlleStemmekretserForKommune",
                "parameters": [
                    {
                        "name": "kommunenummer",
                        "in": "path",
                        "description": "Kommunenummer for kommune man ønsker å hente stemmekretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/kommuner/{kommunenummer}/grunnkretsermeddetaljer": {
            "get": {
                "tags": [
                    "v1/ekstern/kommuner"
                ],
                "summary": "Henter alle grunnkretser med detaljer for gitt kommunenummer",
                "description": "Henter alle grunnkretser med detaljer for gitt kommunenummer. Denne brukes for uthenting av data til dataplattform.",
                "operationId": "hentAlleGrunnkretserMedDetaljerForKommune",
                "parameters": [
                    {
                        "name": "kommunenummer",
                        "in": "path",
                        "description": "Kommunenummer for kommune man ønsker å hente grunnkretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GrunnkretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/kommuner/{kommunenummer}/grunnkretser": {
            "get": {
                "tags": [
                    "v1/ekstern/kommuner"
                ],
                "summary": "Henter alle grunnkretser for gitt kommunenummer",
                "description": "Henter alle grunnkretser for gitt kommunenummer",
                "operationId": "hentAlleGrunnkretserForKommune",
                "parameters": [
                    {
                        "name": "kommunenummer",
                        "in": "path",
                        "description": "Kommunenummer for kommune man ønsker å hente grunnkretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/kommuner/{id}": {
            "get": {
                "tags": [
                    "v1/ekstern/kommuner"
                ],
                "summary": "Hent en kommune med gitt id",
                "description": "Henter kommune med gitt id",
                "operationId": "hentKommune_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til kommunen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KommuneResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KommuneResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/grunnkretser": {
            "get": {
                "tags": [
                    "v1/ekstern/grunnkretser"
                ],
                "summary": "Henter grunnkretser med gitte id-er",
                "description": "Henter grunnkretser med gitte id-er",
                "operationId": "hentGrunnkretserForIds",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "ID-ene til grunnkretsene man vil hente",
                        "required": true,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grunnkrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/grunnkretser/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/ekstern/grunnkretser"
                ],
                "operationId": "hentGrenserForGrunnkrets_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til grunnkretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grunnkrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/fylker": {
            "get": {
                "tags": [
                    "v1/ekstern/fylker"
                ],
                "summary": "Hent alle fylker",
                "description": "Henter alle fylker i Nasjonal inndelingsbase.",
                "operationId": "hentFylker_1",
                "parameters": [
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylkene (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FylkeRef"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/fylker/{id}": {
            "get": {
                "tags": [
                    "v1/ekstern/fylker"
                ],
                "summary": "Hent et fylke med gitt id",
                "description": "Henter fylke med gitt id",
                "operationId": "hentFylke_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til fylket man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylke (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FylkeResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FylkeResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/authz/status": {
            "get": {
                "tags": [
                    "v1/authz"
                ],
                "description": "Henter status for autorisering",
                "operationId": "getStatus",
                "responses": {
                    "200": {
                        "description": "Bruker er autorisert",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthZStatusResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Bruker er ikke autorisert",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthZStatusResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AdministrativEnhetNavn": {
                "required": [
                    "navn",
                    "spraak",
                    "version"
                ],
                "type": "object",
                "properties": {
                    "navn": {
                        "type": "string",
                        "description": "Navnet på en administrativ enhet"
                    },
                    "spraak": {
                        "type": "string",
                        "description": "Språkkoden til det administrative navnet"
                    },
                    "version": {
                        "type": "integer",
                        "description": "Teknisk versjon for å støtte samhandling og redigering",
                        "format": "int32"
                    },
                    "rekkefoelge": {
                        "type": "integer",
                        "description": "Rekkefølge på navn",
                        "format": "int32"
                    }
                },
                "description": "Representasjon av et navn"
            },
            "AdministrativGrenseMetadata": {
                "required": [
                    "common",
                    "commonGrense",
                    "dokumentasjonsreferanser"
                ],
                "type": "object",
                "description": "Spesfikk metadata for en administrativ grense (fylkes/kommunegrense). Beskrevet i SOSI-modellen her: https://objektkatalog.geonorge.no/Objekttype/Index/EAID_5142EDBA_4226_4ca3_924D_EECEFD216D1A",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Metadata"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "common": {
                                "$ref": "#/components/schemas/CommonMetadata"
                            },
                            "commonGrense": {
                                "$ref": "#/components/schemas/CommonGrenseMetadata"
                            },
                            "dokumentasjonsreferanser": {
                                "type": "array",
                                "description": "Henviser til fastsettings- eller lovinformasjon.",
                                "items": {
                                    "$ref": "#/components/schemas/Dokref"
                                }
                            }
                        }
                    }
                ]
            },
            "AvtaltAvgrensningslinjeMetadata": {
                "required": [
                    "common",
                    "commonGrense",
                    "dokumentasjonsreferanser"
                ],
                "type": "object",
                "description": "Spesifikk metadata for en AvtaltAvgrensningslinje. Beskrevet i SOSI-modellen her: https://objektkatalog.geonorge.no/Diagram/Index/EAID_EEECEE48_B3FA_4807_AAE4_B30B63BC28E1",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Metadata"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "common": {
                                "$ref": "#/components/schemas/CommonMetadata"
                            },
                            "commonGrense": {
                                "$ref": "#/components/schemas/CommonGrenseMetadata"
                            },
                            "dokumentasjonsreferanser": {
                                "type": "array",
                                "description": "Henviser til fastsettings- eller lovinformasjon.",
                                "items": {
                                    "$ref": "#/components/schemas/Dokref"
                                }
                            }
                        }
                    }
                ]
            },
            "CommonGrenseMetadata": {
                "type": "object",
                "properties": {
                    "posisjonskvalitet": {
                        "$ref": "#/components/schemas/Posisjonskvalitet"
                    }
                },
                "description": "Felles metadata-egenskaper for grenser."
            },
            "CommonMetadata": {
                "required": [
                    "gyldigFra",
                    "identifikasjon",
                    "sporingsinformasjon"
                ],
                "type": "object",
                "properties": {
                    "identifikasjon": {
                        "$ref": "#/components/schemas/Identifikasjon"
                    },
                    "datafangstdato": {
                        "type": "string",
                        "description": "Dato når objektet siste gang ble registrert/observert/målt i terrenget",
                        "format": "date-time"
                    },
                    "gyldigFra": {
                        "type": "string",
                        "description": "Tidspunktet når objektet oppstod i den virkelige verden",
                        "format": "date"
                    },
                    "gyldigTil": {
                        "type": "string",
                        "description": "Tidspunktet når objektet opphørte å eksistere i den virkelige verden",
                        "format": "date"
                    },
                    "informasjon": {
                        "type": "string",
                        "description": "Generelle opplysninger/merknad"
                    },
                    "sporingsinformasjon": {
                        "$ref": "#/components/schemas/Sporingsinformasjon"
                    },
                    "opphav": {
                        "type": "string",
                        "description": "Referanse til opphavsmaterialet, kildematerialet, organisasjons/publiseringskilde."
                    }
                },
                "description": "Felles metadata-egenskaper."
            },
            "Dokref": {
                "required": [
                    "dokumentlenker",
                    "fastsettingsdato",
                    "internReferanserKartverket",
                    "rettskildeTittel"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "ID for dokumentasjonsreferansen."
                    },
                    "dokumentlenker": {
                        "type": "array",
                        "description": "URL til saksdokument.",
                        "items": {
                            "$ref": "#/components/schemas/TekstHolder"
                        }
                    },
                    "fastsettingsdato": {
                        "type": "string",
                        "description": "Dato for når dokumentet ble skrevet, publisert eller revidert.",
                        "format": "date"
                    },
                    "fastsettingsmyndighet": {
                        "type": "string",
                        "description": "Offentlig instans som har fastsatt en grense."
                    },
                    "hjemmel": {
                        "type": "string",
                        "description": "Lov som rettskilden er begrunnet i."
                    },
                    "internReferanserKartverket": {
                        "type": "array",
                        "description": "Henvisning til saksdokument i Kartverkets eget arkiv.",
                        "items": {
                            "$ref": "#/components/schemas/TekstHolder"
                        }
                    },
                    "rettskildeId": {
                        "type": "string",
                        "description": "Referanse til lov, forskrift, vedtak, dom eller traktat i form av kode som angir type dokument, dato og nummer For eksempel: LOV-2012-09-07-65."
                    },
                    "rettskildeTittel": {
                        "type": "string",
                        "description": "Navn på lov, forskrift, vedtak, dom eller traktat."
                    }
                },
                "description": "Henviser til fastsettings- eller lovinformasjon."
            },
            "Feature": {
                "required": [
                    "geometry",
                    "properties",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "En konstant, navn: type, verdi: Feature"
                    },
                    "id": {
                        "type": "string",
                        "description": "Id til feature"
                    },
                    "properties": {
                        "$ref": "#/components/schemas/FeatureProperties"
                    },
                    "geometry": {
                        "$ref": "#/components/schemas/Geometry"
                    }
                },
                "description": "Liste av features som holder på dataene"
            },
            "FeatureProperties": {
                "required": [
                    "shouldArchive",
                    "srid",
                    "type",
                    "version"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Avhengig av hva slags feature man har kan dette være enten grensetype eller geometri-type (posisjon eller flate)"
                    },
                    "srid": {
                        "type": "integer",
                        "description": "Koordinatsystemet. Defaulter til 25833.",
                        "format": "int32"
                    },
                    "metadata": {
                        "$ref": "#/components/schemas/Metadata"
                    },
                    "kontekstEgenskaper": {
                        "type": "array",
                        "description": "Egenskaper til konteksten til grensen.",
                        "items": {
                            "$ref": "#/components/schemas/KontekstEgenskaper"
                        }
                    },
                    "version": {
                        "type": "integer",
                        "description": "Teknisk versjon for å støtte samhandling og redigering",
                        "format": "int32"
                    },
                    "shouldArchive": {
                        "type": "boolean",
                        "description": "Egenskap som sier om en grense med en grenseendring er skal arkiveres"
                    }
                },
                "description": "Egenskaper som beskriver en gitt feature (properties-objektet i geojson-strukturen)"
            },
            "FlateMetadata": {
                "required": [
                    "common"
                ],
                "type": "object",
                "description": "Metadata for en flate (felles for nasjon, fylke, kommune og grunnkrets)",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Metadata"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "common": {
                                "$ref": "#/components/schemas/CommonMetadata"
                            }
                        }
                    }
                ]
            },
            "FylkeRequest": {
                "required": [
                    "administrativenhetnavn",
                    "fylkesnummerId",
                    "lokalid",
                    "samiskforvaltningsomraade",
                    "version"
                ],
                "type": "object",
                "properties": {
                    "administrativenhetnavn": {
                        "type": "array",
                        "description": "Navnene til fylket",
                        "items": {
                            "$ref": "#/components/schemas/AdministrativEnhetNavn"
                        }
                    },
                    "lokalid": {
                        "type": "string",
                        "description": "LokalId for angitt fylke"
                    },
                    "fylkesnummerId": {
                        "type": "string",
                        "description": "UUID til fylkesnummeret"
                    },
                    "samiskforvaltningsomraade": {
                        "type": "boolean",
                        "description": "Angir om fylket er et samisk forvaltningsområde"
                    },
                    "version": {
                        "type": "integer",
                        "description": "Teknisk versjon for å støtte samhandling og redigering",
                        "format": "int32"
                    }
                },
                "description": "Endringer på fylke."
            },
            "Geometry": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    }
                },
                "description": "Geometry-typene vi støtter i NIBAS.",
                "discriminator": {
                    "propertyName": "type",
                    "mapping": {
                        "Point": "#/components/schemas/Point",
                        "LineString": "#/components/schemas/LineString",
                        "MultiPolygon": "#/components/schemas/MultiPolygon"
                    }
                }
            },
            "Grenseendringer": {
                "required": [
                    "endredeFeatures"
                ],
                "type": "object",
                "properties": {
                    "endredeFeatures": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/Feature"
                        },
                        "description": "Endringer på features."
                    }
                },
                "description": "Representasjon av endringer på grensegeometri."
            },
            "GrunnkretsRequest": {
                "required": [
                    "grunnkretsnummer",
                    "identifikasjon",
                    "navn",
                    "version"
                ],
                "type": "object",
                "properties": {
                    "navn": {
                        "type": "string",
                        "description": "Navnet på grunnkretsen"
                    },
                    "grunnkretsnummer": {
                        "type": "string",
                        "description": "Grunnkretsnummeret til grunnkretsen"
                    },
                    "identifikasjon": {
                        "$ref": "#/components/schemas/Identifikasjon"
                    },
                    "version": {
                        "type": "integer",
                        "description": "Teknisk versjon for å støtte samhandling og redigering",
                        "format": "int32"
                    }
                },
                "description": "Representasjon av en grunnkrets"
            },
            "GrunnlinjeMetadata": {
                "required": [
                    "common",
                    "commonGrense",
                    "dokumentasjonsreferanser"
                ],
                "type": "object",
                "description": "Spesifikk metadata for en Grunnlinje. Beskrevet i SOSI-modellen her: https://objektkatalog.geonorge.no/Diagram/Index/EAID_EEECEE48_B3FA_4807_AAE4_B30B63BC28E1",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Metadata"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "common": {
                                "$ref": "#/components/schemas/CommonMetadata"
                            },
                            "commonGrense": {
                                "$ref": "#/components/schemas/CommonGrenseMetadata"
                            },
                            "dokumentasjonsreferanser": {
                                "type": "array",
                                "description": "Henviser til fastsettings- eller lovinformasjon.",
                                "items": {
                                    "$ref": "#/components/schemas/Dokref"
                                }
                            }
                        }
                    }
                ]
            },
            "Identifikasjon": {
                "required": [
                    "lokalid"
                ],
                "type": "object",
                "properties": {
                    "lokalid": {
                        "type": "string",
                        "description": "Lokal id som identifiserer geometrien. Dette er en globalt unik id."
                    }
                },
                "description": "Unik identifikasjon av et objekt"
            },
            "IdentifikatorMedVersjon": {
                "required": [
                    "lokalId",
                    "version"
                ],
                "type": "object",
                "properties": {
                    "lokalId": {
                        "type": "string",
                        "description": "LokalId for stemmekrets/grunnkretsen"
                    },
                    "version": {
                        "type": "integer",
                        "description": "Teknisk versjon for å støtte samhandling og redigering",
                        "format": "int32"
                    }
                },
                "description": "Identifikator av en stemmekrets eller grunnkrets"
            },
[...]
