{
    "openapi": "3.1.0",
    "info": {
        "title": "NIBAS Server API",
        "description": "API for å hente administrative enheter",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://nibas-api.atkv3-prod.kartverket-intern.cloud",
            "description": "Prod"
        }
    ],
    "tags": [
        {
            "name": "v1/grunnkretser",
            "description": "Endepunkter for å hente informasjon om grunnkretser i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/bopliktomraader",
            "description": "Endepunkter for å hente informasjon om bopliktomraader i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/grenser",
            "description": "Endepunkter for å hente informasjon om Kommunegrense, Fylkesgrense, Riksgrense,Territorialgrense og AvtaltAvgrensningslinje i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/fylker",
            "description": "Endepunkter for å hente informasjon om fylker i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/auth",
            "description": "Endepunkter for å hente informasjon om autentisering og autorisering"
        },
        {
            "name": "v1/file",
            "description": "Endepunkter for å jobbe med filer i nibas-klienten"
        },
        {
            "name": "v1/stemmekretser",
            "description": "Endepunkter for å hente informasjon om stemmekretser i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/utkast",
            "description": "Endepunkt for å utføre CRUD-operasjoner mot utkast."
        },
        {
            "name": "v1/matrikkelkodelister",
            "description": "Endepunkter for å hente utvalgte kodelister fra matrikkelen"
        },
        {
            "name": "v1/inndelinger",
            "description": "Endepunkter for å hente informasjon om inndelinger i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/bopliktomraader",
            "description": "Endepunkter for å hente informasjon om bopliktomraader i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/nasjon",
            "description": "Endepunkter for å hente informasjon om nasjon (Norge) i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/fylker",
            "description": "Endepunkter for å hente informasjon om fylker i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/kommuner",
            "description": "Endepunkter for å hente informasjon om kommuner i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/frontendlogger",
            "description": "Endepunkt for å logge ting fra frontenden"
        },
        {
            "name": "v1/kommuner",
            "description": "Endepunkter for å hente informasjon om kommuner i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/grunnkretser",
            "description": "Endepunkter for å hente informasjon om grunnkretser i Nasjonal inndelingsbase"
        },
        {
            "name": "v1/ekstern/stemmekretser",
            "description": "Endepunkter for å hente informasjon om stemmekretser i Nasjonal inndelingsbase"
        }
    ],
    "paths": {
        "/v1/utkast/{id}": {
            "get": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Hent et utkast med gitt id",
                "description": "Henter utkast med gitt id",
                "operationId": "hentUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til utkastet man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UtkastResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Oppdater angitt utkast.",
                "description": "Oppdaterer angitt utkast. Returnerer oppdatert utkast.",
                "operationId": "oppdaterUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til utkastet man vil oppdatere",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OppdaterUtkastRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad request. Check the request body and path",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UtkastResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OptimistiskLaasWrapper"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Forkast angitt utkast.",
                "description": "Forkast angitt utkast.",
                "operationId": "forkastUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til utkastet man vil slette",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/utkast": {
            "get": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Henter alle utkast med gitt status og som er gyldige fra og med gitt dato.",
                "description": "Henter alle utkast med gitt status og som er gyldige fra og med gitt dato.",
                "operationId": "hentUtkast_1",
                "parameters": [
                    {
                        "name": "utkastStatus",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "OPPRETTET",
                                    "PUBLISERT",
                                    "FORKASTET"
                                ]
                            }
                        }
                    },
                    {
                        "name": "gyldigFra",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UtkastResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Oppretter et utkast og returnerer id.",
                "description": "Oppretter et utkast og returnerer id.",
                "operationId": "opprettUtkast",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpprettUtkastRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/utkast/{id}/valider": {
            "post": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Forhåndsvalidering av angitt utkast.",
                "description": "Validerer angitt utkast, inkludert evt ulagrede endringer i OppdaterUtkastRequest",
                "operationId": "validerUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til utkastet man vil validere",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OppdaterUtkastRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad request. Check the request body and path",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OptimistiskLaasWrapper"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/utkast/{id}/publiser": {
            "post": {
                "tags": [
                    "v1/utkast"
                ],
                "summary": "Publiserer utkastet med gitt id.",
                "description": "Publiserer utkastet med gitt id.",
                "operationId": "publiserUtkast",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til utkastet man vil publisere",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request. Check the request body and path",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation"
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OptimistiskLaasWrapper"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kartlag/upload": {
            "post": {
                "tags": [
                    "v1/file"
                ],
                "description": "Konverterer en SOSI-fil til en GeoJSON-fil",
                "operationId": "convertSOSIToGeoJSON",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "required": [
                                    "file"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "SOSI-fil ble konvertert til en GeoJSON-fil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/frontendlogger": {
            "post": {
                "tags": [
                    "v1/frontendlogger"
                ],
                "summary": "Logger en gitt melding så utviklere får tak i den.",
                "operationId": "logMelding",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FrontendLogRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/v1/stemmekretser/{lokalid}/framtidigeversjoner": {
            "get": {
                "tags": [
                    "v1/stemmekretser"
                ],
                "summary": "Hent framtidige versjoner for en stemmekrets.",
                "description": "Returnerer en liste av nåværende Stemmekrets og eventuelt publiserte framtidige versjoner som matcher lokalid.",
                "operationId": "hentFramtidigeVersjonerForStemmekrets",
                "parameters": [
                    {
                        "name": "lokalid",
                        "in": "path",
                        "description": "LokalID-en til stemmekretsen man vil hente versjoner for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StemmekretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/stemmekretser/{id}": {
            "get": {
                "tags": [
                    "v1/stemmekretser"
                ],
                "summary": "Hent en stemmekrets med gitt id",
                "description": "Henter stemmekrets med gitt id",
                "operationId": "hentStemmekrets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til stemmekretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StemmekretsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StemmekretsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/stemmekretser/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/stemmekretser"
                ],
                "summary": "Hent grensene til en gitt stemmekrets",
                "description": "Henter grensene til en stemmekrets med gitt id",
                "operationId": "hentGrenserForStemmekrets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til stemmekretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/nasjon/": {
            "get": {
                "tags": [
                    "v1/nasjon"
                ],
                "summary": "Hent nasjon",
                "description": "Henter nasjon på en gitt dato",
                "operationId": "hentNasjon",
                "parameters": [
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for nasjonen (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NasjonResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NasjonResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/matrikkelkodelister": {
            "get": {
                "tags": [
                    "v1/matrikkelkodelister"
                ],
                "operationId": "fetchMatrikkelKodelister",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MatrikkelKodelisterRespons"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent alle kommuner",
                "description": "Henter alle kommuner i Nasjonal inndelingsbase.",
                "operationId": "hentKommuner",
                "parameters": [
                    {
                        "name": "fylkeid",
                        "in": "query",
                        "description": "Valgfri id til et fylke for å filtrere kommuner innenfor et fylke",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KommuneResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent en kommune med gitt id",
                "description": "Henter kommune med gitt id",
                "operationId": "hentKommune",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til kommunen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KommuneResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KommuneResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/stemmekretsgrenser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Henter alle stemmekretsgrensene til en gitt kommune",
                "operationId": "hentKommunesStemmekretsgrenser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente stemmekretsgrensene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/stemmekretsgrenserHistoriske": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Henter stemmekretsgrenser som ble historiske på gitt gyldigTil-dato, knyttet til gitt kommune",
                "operationId": "hentKommunesStemmekretsgrenserHistoriske",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente stemmekretsgrensene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldigTilDate",
                        "in": "query",
                        "description": "gyldigTilDate for da stemmekretsgrensene ble historiske",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/stemmekretser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent kommunes stemmekretser",
                "description": "Henter alle stemmekretser som tilhører en kommune.",
                "operationId": "hentKommunesStemmekretser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente stemmekretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StemmekretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/inndelingerdeltgeometrigrenser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Henter alle grenser til inndelinger med delt geometri til kommunegrensa i en gitt kommune",
                "operationId": "hentKommunesInndelingerMedDeltGeometriGrenser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente grensene i inndelingene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/inndelingerdeltgeometri": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Henter alle inndelinger med delt geometri til kommunegrensa i en gitt kommune",
                "operationId": "hentKommunesInndelingerMedDeltGeometri",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente inndelingene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/InndelingResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/grunnkretsgrenser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Henter alle grunnkretsgrensene til en gitt kommune",
                "operationId": "hentKommunesGrunnkretsgrenser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente grunnkretsgrensene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/grunnkretsgrenserHistoriske": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Henter grunnkretsgrenser som ble historiske på gitt gyldigTil-dato, knyttet til gitt kommune",
                "operationId": "hentKommunesGrunnkretsgrenserHistoriske",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente grunnkretsgrensene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldigTilDate",
                        "in": "query",
                        "description": "gyldigTilDate for da grunnkretsgrensene ble historiske",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/grunnkretser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent kommunes grunnkretser",
                "description": "Henter alle grunnkretser som tilhører en kommune.",
                "operationId": "hentKommunesGrunnkretser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente grunnkretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GrunnkretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent grensene til en gitt kommune",
                "description": "Henter grensene til en kommune med gitt id",
                "operationId": "hentGrenserForKommune",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til kommunen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/bopliktomraader": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent kommunes bopliktområde",
                "description": "Henter bopliktområdet som tilhører en kommune.",
                "operationId": "hentKommunesBopliktomraade",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente bopliktområdet til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/BopliktomraadeResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/{id}/bopliktomraadegrenser": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Henter alle bopliktomraadegrensene til en gitt kommune",
                "operationId": "hentKommunesBopliktomraadegrenser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til kommunen man vil hente bopliktomraadegrensene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kommuner/forFylker": {
            "get": {
                "tags": [
                    "v1/kommuner"
                ],
                "summary": "Hent alle kommuner i gitte fylker",
                "description": "Henter alle kommuner i gitte fylker.",
                "operationId": "hentKommunerForFylker",
                "parameters": [
                    {
                        "name": "fylkeid",
                        "in": "query",
                        "description": "Liste med fylkeid'er for å hente kommuner i flere fylker",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KommuneResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/kodeliste/maalemetode-koder": {
            "get": {
                "tags": [
                    "kodeliste-controller"
                ],
                "operationId": "fetchMaalemetodeKoder",
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KodelisteRespons"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/inndelinger/": {
            "get": {
                "tags": [
                    "v1/inndelinger"
                ],
                "summary": "Søk etter inndelinger",
                "description": "Søk etter inndelinger ved å bruke en søkestring",
                "operationId": "finnInndelinger",
                "parameters": [
                    {
                        "name": "searchString",
                        "in": "query",
                        "description": "Søkestring for å finne inndelinger",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for inndelingene (default = dagens dato)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maksgrense for antall treff man ønsker seg",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 15
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Hvilke typer inndelinger man ønsker å søke etter",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "FYLKE",
                                    "KOMMUNE",
                                    "NASJON",
                                    "GRUNNKRETS",
                                    "STEMMEKRETS",
                                    "BOPLIKTOMRAADE"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/InndelingSearchResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/InndelingSearchResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/grunnkretser/{lokalid}/framtidigeversjoner": {
            "get": {
                "tags": [
                    "v1/grunnkretser"
                ],
                "summary": "Hent framtidige versjoner for en grunnkrets.",
                "description": "Returnerer en liste av nåværende Grunnkrets og eventuelt publiserte framtidige versjoner som matcher lokalid.",
                "operationId": "hentFramtidigeVersjonerForGrunnkrets",
                "parameters": [
                    {
                        "name": "lokalid",
                        "in": "path",
                        "description": "LokalID-en til grunnkretsen man vil hente versjoner for",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grunnkrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GrunnkretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/grunnkretser/{id}": {
            "get": {
                "tags": [
                    "v1/grunnkretser"
                ],
                "summary": "Hent en grunnkrets med gitt id",
                "description": "Henter grunnkrets med gitt id",
                "operationId": "hentGrunnkrets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til grunnkretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grunnkrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrunnkretsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrunnkretsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/grunnkretser/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/grunnkretser"
                ],
                "summary": "Hent grensene til en gitt grunnkrets",
                "description": "Henter grensene til en grunnkrets med gitt id",
                "operationId": "hentGrenserForGrunnkrets",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til grunnkretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for grunnkrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fylker": {
            "get": {
                "tags": [
                    "v1/fylker"
                ],
                "summary": "Hent alle fylker",
                "description": "Henter alle fylker i Nasjonal inndelingsbase.",
                "operationId": "hentFylker",
                "parameters": [
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylkene (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FylkeResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fylker/{id}": {
            "get": {
                "tags": [
                    "v1/fylker"
                ],
                "summary": "Hent et fylke med gitt id",
                "description": "Henter fylke med gitt id",
                "operationId": "hentFylke",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til fylket man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylke (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FylkeResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FylkeResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fylker/{id}/stemmekretser": {
            "get": {
                "tags": [
                    "v1/fylker"
                ],
                "operationId": "hentFylkesStemmekretser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til fylket man vil hente stemmekretsenee til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylket (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StemmekretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fylker/{id}/grunnkretser": {
            "get": {
                "tags": [
                    "v1/fylker"
                ],
                "operationId": "hentFylkesGrunnkretser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID til fylket man vil hente grunnkretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylket (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GrunnkretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/fylker/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/fylker"
                ],
                "summary": "Hent grensene til et gitt fylke",
                "description": "Henter grensene til et fylke med gitt id",
                "operationId": "hentGrenserForFylke",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til fylket man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for fylke (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/stemmekretser": {
            "get": {
                "tags": [
                    "v1/ekstern/stemmekretser"
                ],
                "summary": "Henter stemmekretser med gitte id-er",
                "description": "Henter stemmekretser med gitte id-er",
                "operationId": "hentStemmekretserForIds",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "ID-ene til stemmekretsene man vil hente",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "uniqueItems": true
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EksternKretsResponse"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EksternKretsResponse"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/stemmekretser/{id}": {
            "get": {
                "tags": [
                    "v1/ekstern/stemmekretser"
                ],
                "summary": "Hent en stemmekrets med gitt id",
                "description": "Henter stemmekrets med gitt id",
                "operationId": "hentStemmekrets_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til stemmekretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EksternStemmekretsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EksternStemmekretsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/stemmekretser/{id}/grenser": {
            "get": {
                "tags": [
                    "v1/ekstern/stemmekretser"
                ],
                "summary": "Hent grensene til en gitt stemmekrets",
                "description": "Henter grensene til en stemmekrets med gitt id",
                "operationId": "hentGrenserForStemmekrets_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID-en til stemmekretsen man vil hente",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for stemmekrets (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FeatureCollection"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/kommuner": {
            "get": {
                "tags": [
                    "v1/ekstern/kommuner"
                ],
                "summary": "Hent alle kommuner",
                "description": "Henter alle kommuner i Nasjonal inndelingsbase.",
                "operationId": "hentKommuner_1",
                "parameters": [
                    {
                        "name": "fylkeid",
                        "in": "query",
                        "description": "Valgfri id til et fylke for å filtrere kommuner innenfor et fylke",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EksternKommuneRef"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/ekstern/kommuner/{kommunenummer}/stemmekretsermeddetaljer": {
            "get": {
                "tags": [
                    "v1/ekstern/kommuner"
                ],
                "summary": "Henter alle stemmekretser med detaljer for gitt kommunenummer",
                "description": "Henter alle stemmekretser med detaljer for gitt kommunenummer. Denne brukes for uthenting av data til dataplattform.",
                "operationId": "hentAlleStemmekretserMedDetaljerForKommune",
                "parameters": [
                    {
                        "name": "kommunenummer",
                        "in": "path",
                        "description": "Kommunenummer for kommune man ønsker å hente stemmekretsene til",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gyldighetsdato",
                        "in": "query",
                        "description": "Eventuell gyldighetsdato for kommune (default = dagens dato",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/EksternKretsResponse"
                                    }
[...]
