{
    "openapi": "3.0.1",
    "info": {
        "title": "NIBAS Events API",
        "description": "API for å hente events i Nasjonal inndelingsbase",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://nibas-events.prod.skip.statkart.no",
            "description": "Generated server url"
        }
    ],
    "tags": [
        {
            "name": "v1/events",
            "description": "Endepunkter for events i Nasjonal inndelingsbase"
        }
    ],
    "paths": {
        "/v1/events": {
            "get": {
                "tags": [
                    "v1/events"
                ],
                "summary": "Hent events",
                "description": "Henter events i Nasjonal Inndelingsbase",
                "operationId": "hentEvents",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "size",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageEventResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "v1/events"
                ],
                "description": "Publiserer event til Nibas Event",
                "operationId": "publiserEvent",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "EventRadRequest": {
                "required": [
                    "eventType",
                    "flateType",
                    "lokalid",
                    "uuid"
                ],
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "description": "Objektradens id"
                    },
                    "eventType": {
                        "type": "string",
                        "description": "Hvilken event har inntruffet",
                        "enum": [
                            "ADDED",
                            "MODIFIED",
                            "EXPIRED"
                        ]
                    },
                    "flateType": {
                        "type": "string",
                        "description": "Hvilket type objekt har event skjedd for",
                        "enum": [
                            "STEMMEKRETS",
                            "GRUNNKRETS",
                            "KOMMUNE",
                            "FYLKE",
                            "NASJON"
                        ]
                    },
                    "lokalid": {
                        "type": "string",
                        "description": "Lokalid for objektet"
                    }
                },
                "description": "Liste med relaterte rader"
            },
            "EventRequest": {
                "required": [
                    "eventRader",
                    "inntreffer"
                ],
                "type": "object",
                "properties": {
                    "inntreffer": {
                        "type": "string",
                        "description": "Når eventen er gyldig fra",
                        "format": "date"
                    },
                    "eventRader": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "Liste med relaterte rader",
                        "items": {
                            "$ref": "#/components/schemas/EventRadRequest"
                        }
                    }
                },
                "description": "event"
            },
            "EventRadResponse": {
                "required": [
                    "eventId",
                    "flateType",
                    "lokalId",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Hvilket event har inntruffet",
                        "enum": [
                            "ADDED",
                            "MODIFIED",
                            "EXPIRED"
                        ]
                    },
                    "flateType": {
                        "type": "string",
                        "description": "Hvilket type objekt har event skjedd for",
                        "enum": [
                            "STEMMEKRETS",
                            "GRUNNKRETS",
                            "KOMMUNE",
                            "FYLKE",
                            "NASJON"
                        ]
                    },
                    "lokalId": {
                        "type": "string",
                        "description": "Lokalid til objektet. Brukes mot Nibas-API"
                    },
                    "eventId": {
                        "type": "integer",
                        "description": "Hvilket event hører raden til",
                        "format": "int32"
                    }
                },
                "description": "Rad med data om endringen"
            },
            "EventResponse": {
                "required": [
                    "id",
                    "inntreffer",
                    "rader",
                    "timestamp"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Eventnummer (løpenummer)",
                        "format": "int32"
                    },
                    "inntreffer": {
                        "type": "string",
                        "description": "Når eventen inntreffer",
                        "format": "date"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Når eventen skjedde",
                        "format": "date-time"
                    },
                    "rader": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "Radene eventet består av",
                        "items": {
                            "$ref": "#/components/schemas/EventRadResponse"
                        }
                    }
                },
                "description": "En representasjon av en event"
            },
            "PageEventResponse": {
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "size": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "content": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EventResponse"
                        }
                    },
                    "number": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "pageable": {
                        "$ref": "#/components/schemas/PageableObject"
                    },
                    "numberOfElements": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "first": {
                        "type": "boolean"
                    },
                    "last": {
                        "type": "boolean"
                    },
                    "empty": {
                        "type": "boolean"
                    }
                }
            },
            "PageableObject": {
                "type": "object",
                "properties": {
                    "offset": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "sort": {
                        "$ref": "#/components/schemas/SortObject"
                    },
                    "paged": {
                        "type": "boolean"
                    },
                    "unpaged": {
                        "type": "boolean"
                    },
                    "pageNumber": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "SortObject": {
                "type": "object",
                "properties": {
                    "empty": {
                        "type": "boolean"
                    },
                    "unsorted": {
                        "type": "boolean"
                    },
                    "sorted": {
                        "type": "boolean"
                    }
                }
            }
        }
    }
}